{% extends 'index.html' %}
{% load static %}
        
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin/trabajos.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock extra_css %}

{% block contenido %}

<div class="header">
    <a href="{% url 'index_trabajo' %}" id="btn-volver" class="btn btn-back">Volver</a>
    <h1 id="titulo-trabajos">Trabajos</h1>
    <a href="{% url 'crear_trabajo' %}" id="btn-registrar" class="btn">Registrar Trabajo</a>
</div> 

<div class="container"> 
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Trabajo</th>
                <th>Nombre del Titular</th>
                <th>RUT del Titular</th>
                <th>Comuna</th>
                <th>Dirección</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Valor</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for trabajo in trabajos %}
            <tr>
                <td>{{ trabajo.id }}</td>
                <td>{{ trabajo.nombre_trabajo }}</td>
                <td>{{ trabajo.nombre_titular }}</td>
                <td>{{ trabajo.rut_titular }}</td>
                <td>{{ trabajo.comuna }}</td>
                <td>{{ trabajo.direccion }}</td>
                <td>{{ trabajo.fecha }}</td>
                <td>{{ trabajo.hora }}</td>
                <td>{{ trabajo.valor }}</td>
                <td>{{ trabajo.get_estado_display }}</td>
                <td>
                    <a href="{% url 'modificar_trabajo' trabajo.id %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
