{% extends 'index.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin/trabajos_sin_asignar.css' %}">
{% endblock extra_css %}

{% block contenido %}
<div class="header">
    
    <h1>Trabajos sin asignar para {{ fecha }}</h1>
</div>

<div class="trabajos-sin-asignar">
    <ul>
        {% for trabajo in trabajos %}
            <li>{{ trabajo.nombre_trabajo }}</li>
            <li>{{ trabajo.fecha}}</li>
            <a href="{% url 'asignar_trabajo' colaborador.id trabajo.id %}">Asignar este trabajo</a>
        {% empty %}
            <li>No hay trabajos sin asignar para esta fecha.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
