{% extends 'index.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/listado_colaboradores.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock extra_css %}
{% block contenido %}

<div class="header">
    <a href="{% url 'home' %}" id="btn-volver" class="btn btn-back">Volver</a>
    <h1>Colaboradores</h1>
    <a href="{% url 'registro' %}" id="btn-registrar" class="btn">Registrar</a>
</div>

<div class="card-container">
    {% for colaborador in colaboradores %}
    <div class="card">
        <button class="delete-btn" data-url="{% url 'eliminar_usuario' colaborador.id %}"> <i class="fas fa-trash-alt"></i></button>
        <button class="edit-btn" data-url="{% url 'modificar_usuario' colaborador.id %}" > <i class="fas fa-edit"></i></button>
        <!-- <h2>{{ colaborador.username }}</h2> -->
        <p><strong>Nombre:</strong> {{ colaborador.first_name }} {{ colaborador.last_name }}</p>
        <p><strong>Email:</strong> {{ colaborador.email }}</p>
        <p><strong>Teléfono:</strong> {{ colaborador.telefono }}</p>
        <p><strong>Comuna:</strong> {{ colaborador.comuna }}</p>
        
    </div>
    {% endfor %}

</div>

<script>
    document.querySelectorAll('.delete-btn').forEach(btn => {
        btn.addEventListener('click', function() {
            const url = this.dataset.url;
            window.location.href = url;
        });
    });

   
    document.querySelectorAll('.edit-btn').forEach(btn => {
        btn.addEventListener('click', function() {
            const url = this.dataset.url;
            window.location.href = url;
        });
    });
</script>
{% endblock %}
