{% extends 'index.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/admin/crear_trabajo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
{% endblock extra_css %}

{% block contenido %}    
    <div class="wrapper">
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Crear Trabajo</h1>
            <div class="input-box">
                <div class="input-field">
                    {{ form.nombre_trabajo }}
                    {% for error in form.nombre_trabajo.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="input-field">
                    {{ form.nombre_titular }}
                    {% for error in form.nombre_titular.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    {{ form.rut_titular }}
                    {% for error in form.rut_titular.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="input-box">
                    <div class="input-field">
                        {{ form.direccion }}
                        {% for error in form.direccion.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="input-field">
                    {{ form.comuna }}
                    {% for error in form.comuna.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    {{ form.fecha }}
                    {% for error in form.fecha.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    {{ form.hora }}
                    {% for error in form.hora.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    {{ form.valor }}
                    {% for error in form.valor.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Crear Trabajo</button>

            <button type="button" class="btn btn-danger" id="regresarBtn">Regresar</button>
        </form>
    </div>
     <!-- Modal de mensaje -->
     <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">Mensaje</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Trabajo Agregado Correctamente
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
    // Selecciona el campo del RUT del titular
    const rutInput = document.querySelector('#id_rut_titular');

    rutInput.addEventListener('input', function(event) {
        let rut = event.target.value;      
        rut = rut.replace(/\./g, '').replace(/-/g, '');
        if (!rut) {
            return;
        }
        rut = rut.replace(/^(\d{1,2})(\d{3})(\d{3})(\w{1})$/, '$1.$2.$3-$4');
        event.target.value = rut;
        });
    });    
    document.getElementById("regresarBtn").addEventListener("click", function() {
        window.location.href = "{% url 'trabajos' %}";
    });
    </script>
{% endblock %}
{% block extra_js %}
{% endblock %}
