{% extends 'index.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin/trabajos.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock extra_css %}

{% block contenido %}

<div class="header">
    <a href="{% url 'index_trabajo' %}"  class="boton volver">Volver</a>
    <h1 id="titulo-trabajos">Trabajos</h1>
    <a href="{% url 'crear_trabajo' %}"  class="boton regresar">Registrar Trabajo</a>
</div>

<div class="card-container">
    {% for trabajo in trabajos %}
    <div class="card" id="trabajo" data-comuna="{{ trabajo.comuna }}"  data-estado="{{ trabajo.estado }}" data-reagendado-contador="{{ trabajo.reagendado_contador }}" data-fecha="{{ trabajo.fecha|date:'Y-m-d' }}">
        <div class="botones">
            <button class="delete-btn" data-url="{% url 'eliminar_trabajo' trabajo.id %}"> <i class="fas fa-trash-alt"></i></button>
            <button class="edit-btn" data-url="{% url 'modificar_trabajo' trabajo.id %}"> <i class="fas fa-edit"></i></button>
            <h2> {{ trabajo.nombre_trabajo }}</h2>
        </div>
        <p><strong>Colaborador:</strong> 
            {% if trabajo.colaborador %}
                {{ trabajo.colaborador.first_name }} {{ trabajo.colaborador.last_name }}
            {% else %}
                Sin colaborador
            {% endif %}
        </p>
        <p><strong>Nombre del Titular:</strong> {{ trabajo.nombre_titular }}</p>
        <p><strong>RUT del Titular:</strong> {{ trabajo.rut_titular }}</p>
        <p><strong>Telefono:</strong> {{ trabajo.telefono }}</p>
        <p><strong>Comuna:</strong> {{ trabajo.comuna }}</p>
        <p><strong>Dirección:</strong> {{ trabajo.direccion }}</p>
        <p><strong>Fecha:</strong> {{ trabajo.fecha }}</p>
        <p><strong>Hora Inicio:</strong> {{ trabajo.hora_inicio }}</p>
        <p><strong>Hora Termino:</strong> {{ trabajo.hora_termino }}</p>
        <p><strong>Valor:</strong> {{ trabajo.valor }}</p>
        <p><strong>Estado:</strong> {{ trabajo.get_estado_display }}</p>
    </div>
    {% endfor %}
</div>

<div class="filter-container">
    <h2>Filtros <button id="boton-info" onclick="mostrarModal()"><i class="fas fa-info-circle"></i></button></h2>
   <!-- bonon desplegable -->
 

    <select id="comuna-filter">
        <option value="">Comunas</option>
        {% for c in comuna %}
            <option value="{{ c.nombre }}">{{ c.nombre }}</option>
        {% endfor %}
    </select>

    <select id="estado-filter">
        <option value="">Estado</option>
        <option value="sin_asignar">Sin asignar</option>
        <option value="pendiente">Pendiente</option>
        <option value="completado">Completado</option>
        <option value="reagendado">Reagendado</option>
  
    </select>

    <input type="date" id="fecha-filter">

</div>

<!-- modal  -->

<div id="miModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="cerrarModal()">&times;</span>
        <h3 style="color: rgb(0, 204, 255);">Los colores visibles en cada trabajo representa el estado del mismo</h3>
        <ul>
            <li><div class="color-box" style="background-color:rgb(255, 255, 255);"></div><strong> Sin asignar:</strong> Este estado indica que el trabajo todavía no ha sido asignado a ninguna persona o equipo específico.</li>
            <li><div class="color-box" style="background-color: rgba(117, 17, 233, 0.801);"></div><strong>Pendiente:</strong> El trabajo ha sido asignado pero aún no se ha completado </li>
            <li><div class="color-box" style="background-color: rgba(30, 206, 133, 0.733);"></div><strong>Completado:</strong> El trabajo ha sido realizado y finalizado exitosamente. No se requieren más acciones en esta tarea</li>
            <li><div class="color-box" style="background-color: rgba(243, 228, 14, 0.87)"></div><strong>Reagendado(Prioridad Alta):</strong> El trabajo ha sido reprogramado, aunque pospuesta, tiene una mayor prioridad</li>
            <li><div class="color-box" style="background-color: rgba(212, 17, 17, 0.877);"></div><strong>Reagendado(Prioridad Urgente):</strong> Es la prioridad más alta dentro de los trabajos reagendados y debe ser completado lo antes posible</li>
            <li><div class="color-box border-yellow"></div><strong>Sin Asignar Amarillo:</strong> Trabajo Sin asignar que fue reagendado con prioridad alta.</li>
            <li><div class="color-box border-red"></div><strong>Sin Asignar Rojo:</strong> Trabajo Sin asignar que fue reagendado con prioridad urgente.</li>
        </ul>
    </div>
</div>

 
<script src="{% static 'js/filtro_trabajo.js' %}"></script>

<script>
  document.getElementById('fecha-filter').addEventListener('change', function() {
        var fechaSeleccionada = this.value;
        var cards = document.getElementsByClassName('card');

        for (var i = 0; i < cards.length; i++) {
            var fechaTrabajo = cards[i].getAttribute('data-fecha');

            if (fechaSeleccionada === '' || fechaTrabajo === fechaSeleccionada) {
                cards[i].style.display = 'block';
            } else {
                cards[i].style.display = 'none';
            }
        }
    });

// script modal mensaje 
function mostrarModal() {
            var modal = document.getElementById("miModal");
            modal.style.display = "block";
        }

        function cerrarModal() {
            var modal = document.getElementById("miModal");
            modal.style.display = "none";
        }

        // Cerrar el modal si el usuario hace clic fuera de él
        window.onclick = function(event) {
            var modal = document.getElementById("miModal");
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
</script>

<script>
    document.querySelectorAll('.delete-btn').forEach(btn => {
        btn.addEventListener('click', function() {
            const url = this.dataset.url;
            window.location.href = url;
        });
    });

    document.querySelectorAll('.edit-btn').forEach(btn => {
        btn.addEventListener('click', function() {
            const url = this.dataset.url;
            window.location.href = url;
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
    var acc = document.getElementsByClassName("accordion");
    for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
});
</script>

{% endblock %}
