{% extends 'index.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin/trabajos.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock extra_css %}

{% block contenido %}

<div class="header">
    <a href="{% url 'index_trabajo' %}"  class="boton volver">Volver</a>
    <h1 id="titulo-trabajos">Trabajos</h1>
    <a href="{% url 'crear_trabajo' %}"  class="boton regresar">Registrar Trabajo</a>
</div>

<div class="filter-container">
    <select id="comuna-filter">
        <option value="">Comunas</option>
        {% for c in comuna %}
            <option value="{{ c.nombre }}">{{ c.nombre }}</option>
        {% endfor %}
    </select>
</div>

<div class="card-container">
    {% for trabajo in trabajos %}
    <div class="card {% if trabajo.estado == 'sin_asignar' %}
                        blanco
                    {% elif trabajo.estado == 'pendiente' %}
                        azul
                    {% elif trabajo.estado == 'completado' %}
                        verde
                    {% elif trabajo.estado == 'reagendado' and trabajo.reagendado_contador == 1 %}
                        amarillo
                    {% elif trabajo.estado == 'reagendado' and trabajo.reagendado_contador >= 2 %}
                        rojo
                    {% elif trabajo.estado == 'cancelado' %}
                        negro
                    {% endif %}" id="trabajo" data-comuna="{{ trabajo.comuna }}">
        <div class="botones">
            <button class="delete-btn" data-url="{% url 'eliminar_trabajo' trabajo.id %}"> <i class="fas fa-trash-alt"></i></button>
            <button class="edit-btn" data-url="{% url 'modificar_trabajo' trabajo.id %}"> <i class="fas fa-edit"></i></button>
            <h2> {{ trabajo.nombre_trabajo }}</h2>
        </div>
        
        <p><strong>Nombre del Titular:</strong> {{ trabajo.nombre_titular }}</p>
        <p><strong>RUT del Titular:</strong> {{ trabajo.rut_titular }}</p>
        <p><strong>Telefono:</strong> {{ trabajo.telefono }}</p>
        <p><strong>Comuna:</strong> {{ trabajo.comuna }}</p>
        <p><strong>Dirección:</strong> {{ trabajo.direccion }}</p>
        <p><strong>Fecha:</strong> {{ trabajo.fecha }}</p>
        <p><strong>Hora Inicio:</strong> {{ trabajo.hora_inicio }}</p>
        <p><strong>Hora Termino:</strong> {{ trabajo.hora_termino }}</p>
        <p><strong>Valor:</strong> {{ trabajo.valor }}</p>
        <p><strong>Estado:</strong> {{ trabajo.get_estado_display }}</p>
    </div>
    {% endfor %}
</div>
<script src="{% static 'js/filtro_trabajo.js' %}"></script>

<script>
    document.querySelectorAll('.delete-btn').forEach(btn => {
        btn.addEventListener('click', function() {
            const url = this.dataset.url;
            window.location.href = url;
        });
    });

    document.querySelectorAll('.edit-btn').forEach(btn => {
        btn.addEventListener('click', function() {
            const url = this.dataset.url;
            window.location.href = url;
        });
    });

    // Scroll down when a new card is added
    function scrollToBottom() {
        const container = document.getElementById('card-container');
        container.scrollTop = container.scrollHeight;
    }

    // Simulate card addition
    const observer = new MutationObserver(scrollToBottom);
    observer.observe(document.getElementById('card-container'), { childList: true });

    // Call scrollToBottom on page load to ensure it's at the bottom
    scrollToBottom();
</script>

{% endblock %}
