{% extends 'index.html' %}
{% load  static  %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/admin/modificar_usuario.css' %}">
    <link rel="stylesheet" href="{% static 'css' %}/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock extra_css %}

{% block contenido %}

<div class="header">
    <h1>Actualizar estado del trabajo</h1>

</div>

<div>

    <h1>Confirmar trabajo</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Confirmar trabajo</button>
    </form>
</div>
    


{% endblock %}