{% extends 'index.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin/agenda.css' %}">
{% endblock extra_css %}

{% block contenido %}
<div class="button-container">
</div>

<div class="boton-volver">
    <a href="{% url 'index_colaborador' %}" id="btn-volver" class="btn btn-back">Volver</a>
    </div>
    
    <div class="test">
        <h1>Agenda de {{ colaborador.first_name }} {{ colaborador.last_name }}</h1>
    </div>
    
<div class="card">              
    <div id="calendar"></div>   
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales/es.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var eventos = JSON.parse(`[
        {% for evento in eventos %}
        {
            "title": "{{ evento.title|escapejs }}",
            "start": "{{ evento.start|escapejs }}",
            "description": "{{ evento.description|escapejs }}"
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
    ]`);

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'es',
        events: eventos,
        selectable: true,
        dateClick: function(info) {
            var fechaSeleccionada = info.dateStr;
            var colaboradorId = "{{ colaborador.id }}"; 
            var url = "{% url 'mi_trabajos' '0000' '0000-00-00' %}".replace('0000', colaboradorId).replace('0000-00-00', fechaSeleccionada);
            window.location.href = url;
        }
    });
    calendar.render();
});
</script>
{% endblock %}
