{% extends 'index.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/colaborador/mis_trabajos.css' %}">
{% endblock extra_css %}

{% block contenido %}
<div class="boton-volver">
    <a href="{% url 'mi_agenda' %}" id="btn-volver" class="btn btn-back">Volver</a>
</div>

<div class="texto-top">
    <h1> Mis Trabajos</h1>
</div>

<div class="boton-vista">
    <button class="btn btn-back" onclick="toggleVista()">Cambiar Vista</button>
</div>

<div class="container">
    <div class="trabajos-list" id="trabajos-pendientes" >
        <h2>Trabajos Pendientes</h2>
        <ul>
            {% for trabajo in trabajos %}
                {% if trabajo.estado.nombre == 'Pendiente' or trabajo.estado.nombre == 'Reagendado' %}
                    <li data-estado="{{ trabajo.estado }}" data-reagendado-contador="{{ trabajo.reagendado_contador }}">
                        <div class="trabajo-header">
                            <div class="trabajo-buttons">
                                <a href="{% url 'reagendar_trabajo' trabajo.id %}" class="btn btn-reagendar">Reagendar</a>
                                <form method="post" action="{% url 'actualizar_estado_trabajo' trabajo.id %}" class="btn-form">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-confirmar" onclick="openModal('{{ trabajo.id }}')">Confirmar</button>
                                </form>
                            </div>
                        </div>
                        <p><strong>Nombre del Trabajo:</strong> {{ trabajo.nombre_trabajo }}</p>
                        <p><strong>Telefono:</strong> {{ trabajo.cliente.telefono }}</p>
                        <p><strong>Dirección:</strong> {{ trabajo.cliente.direccion }}</p>
                        <p><strong>Hora Inicio:</strong> {{ trabajo.hora_inicio }}</p>
                        <p><strong>Hora Termino:</strong> {{ trabajo.hora_termino }}</p>
                        <p><strong>Estado:</strong> {{ trabajo.estado.nombre}}</p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="trabajos-list" id="trabajos-completados">
        <h2>Trabajos Completados</h2>
        <ul>
            {% for trabajo in trabajos %}
                {% if trabajo.estado.nombre == 'Completado' %}
                    <li data-estado="{{ trabajo.estado }}" data-reagendado-contador="{{ trabajo.reagendado_contador }}">
                    <p><strong>Nombre del Trabajo:</strong> {{ trabajo.nombre_trabajo }}</p>
                    <p><strong>Telefono:</strong> {{ trabajo.cliente.telefono }}</p>
                    <p><strong>Dirección:</strong> {{ trabajo.cliente.direccion }}</p>
                    <p><strong>Hora Inicio:</strong> {{ trabajo.hora_inicio }}</p>
                    <p><strong>Hora Termino:</strong> {{ trabajo.hora_termino }}</p>
                    <p><strong>Estado:</strong> {{ trabajo.estado.nombre }}</p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Modal -->
<div id="modal-confirmar-trabajo" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Confirmar Trabajo</h2>
        <form method="post" id="confirmar-form">
            {% csrf_token %}
            <input type="hidden" id="trabajo-id" name="trabajo_id">
            <label for="rut_titular">RUT del Titular:</label>
            <input type="text" id="rut_titular" name="rut_titular" oninput="formatRut(this)" maxlength="12">
            <button type="submit" class="btn btn-confirmar-rut">Confirmar</button>
        </form>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
        function toggleVista() {
        var pendientes = document.getElementById('trabajos-pendientes');
        var completados = document.getElementById('trabajos-completados');

        // Alternar la visibilidad de los contenedores
        if (pendientes.style.display === 'none') {
            pendientes.style.display = 'block';
            completados.style.display = 'none';
        } else {
            pendientes.style.display = 'none';
            completados.style.display = 'block';
        }
    }

    // Función para asegurar que al cargar la página inicialmente muestre los trabajos pendientes
    window.onload = function() {
        var pendientes = document.getElementById('trabajos-pendientes');
        var completados = document.getElementById('trabajos-completados');

        pendientes.style.display = 'block'; // Mostrar trabajos pendientes
        completados.style.display = 'none'; // Ocultar trabajos completados
    };



    function openModal(trabajoId) {
        document.getElementById('trabajo-id').value = trabajoId;
        document.getElementById('modal-confirmar-trabajo').style.display = 'block';
    }
    
    function closeModal() {
        document.getElementById('modal-confirmar-trabajo').style.display = 'none';
    }
    
    document.getElementById('confirmar-form').addEventListener('submit', function(event) {
        event.preventDefault();
        var trabajoId = document.getElementById('trabajo-id').value;
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = "{% url 'actualizar_estado_trabajo' 0 %}".replace('0', trabajoId);
        
        var csrfToken = document.createElement('input');
        csrfToken.type = 'hidden';
        csrfToken.name = 'csrfmiddlewaretoken';
        csrfToken.value = '{{ csrf_token }}';
        form.appendChild(csrfToken);
    
        var rutTitular = document.createElement('input');
        rutTitular.type = 'hidden';
        rutTitular.name = 'rut_titular';
        rutTitular.value = document.getElementById('rut_titular').value;
        form.appendChild(rutTitular);
    
        document.body.appendChild(form);
        form.submit();
    });
    
    function formatRut(input) {
        var rut = input.value.replace(/\./g, '').replace(/\-/g, '').trim();
        if (rut.length > 1) {
            var formattedRut = rut.slice(0, -1).replace(/\B(?=(\d{3})+(?!\d))/g, ".") + '-' + rut.slice(-1);
            input.value = formattedRut;
        }
    }



</script>


{% endblock extra_js %}
