
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  height: 70px;
  align-items: center;
  background: #248f8f;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.logo-container {
  display: flex;
  align-items: center;
}

.navbar-container .logo-container a {
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-family: 'Kanit', sans-serif;
}

.navbar-container .nav-items {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  align-items: center;
}

.navbar-container .nav-items .nav-link a {
  color: #fff;
  transition: 0.2s;
  padding: 10px;
  text-transform: uppercase;
  white-space: nowrap;
}

.navbar-container .nav-items .nav-link:after {
  display: block;
  content: "";
  border-top: 2px solid rgb(60, 179, 133);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navbar-container .nav-items .nav-link:hover:after {
  transform: scaleX(1);
}

.navbar-container .nav-items .nav-link a:hover {
  filter: brightness(80%);
}

.navbar-container .nav-items .login-register {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navbar-container .nav-items .login-register .button {
  color: #fff;
  border: 2px solid rgb(16, 167, 124);
  padding: 5px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all ease-in 0.3s;
}

.navbar-container .nav-items .login-register .button:hover {
  background: rgb(33, 200, 175);
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
}

@media(max-width: 1000px) {
  .navbar-container {
    padding: 0 1rem;
  }

  .navbar-container .nav-items {
    gap: 0.1rem;
  }

  .navbar-container .nav-items .nav-link a,
  .navbar-container .nav-items .login-register .button {
    font-size: 0.9rem;
  }
}

@media(max-width: 700px) {
  .navbar-container .nav-items {
    flex-direction: column;
    position: fixed;
    top: 70px;
    width: 100vw;
    background: rgb(1, 77, 82);
    padding: 1rem 0;
    height: 100vh;
    z-index: 99;
    right: -100%;
    transition: 0.2s ease-in;
  }

  .bars {
    height: auto;
    width: 22px;
    cursor: pointer;
  }

  .bars .bar {
    height: 2px;
    width: 100%;
    background: #fff;
    margin: 4px;
  }

  .navbar-container .nav-items {
    gap: 3rem;
  }

  .navbar-container .nav-items .login-register {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    width: 50%;
  }

  .navbar-container .nav-items .login-register .button {
    padding: 1rem 0;
  }

  .main {
    font-size: 2rem;
  }
}
