@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../css/img/fondo.png);
}

.registro, .gestion, .reportes, .perfil {
    margin: 50px;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 280px;
    height: 140px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 35px;
    text-align: center;
    font-size: 20px;
}

.container a {
    color: #fff;
    margin-bottom: 10px;
}

.registro .container i, .gestion .container i, .reportes .container i, .perfil .container i{
    font-size: 50px;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .registro, .gestion, .reportes, .perfil {
        flex-direction: column;
        align-items: center;
        margin: 20px;
        
    }

    .container {
        
        margin-bottom: 20px;
    }
}

@media (min-width: 1920px) {
    .registro, .gestion, .reportes, .perfil {
        margin: 80px;
    }

    .container {
        width: 350px; 
        height: 180px; 
    }

    .registro .container i, .gestion .container i, .reportes .container i, .perfil .container i {
        font-size: 60px; 
    }
}

