
{% load static %}
<link rel="stylesheet" href="{% static 'css' %}/listado_colaboradores.css">
<link rel="stylesheet" href="{% static 'css' %}/estilo.css">
{% block contenido %}
<navbar class="navbar-container">
    <div class="logo-container" >
        <a href=""><img src="" alt="" style="margin-top: 1px; margin-right: 10px;"></a>
        <a href="">JobSync</a>
    </div>
    <div class="bars">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
  </div>
    <ul class="nav-items">
        <li class="nav-link"><a href="{% url 'index' %}">Inicio</a></li>
        
        <li class="nav-link"><a href="{% url 'sobre_nosotros' %}">Sobre Nosotros</a></li>
        {%if user.is_authenticated%}
        <li class="nav-link"><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
        {% else %}
        <li class="nav-link"><a href="{% url 'custom_login' %}">login</a></li>
        {%endif%}
    </ul>
</navbar>
<div class="header">
    <h1>Colaboradores</h1>
</div>
<div class="card-container">
    {% for colaborador in colaboradores %}
    <div class="card">
        <h2>{{ colaborador.username }}</h2>
        <p><strong>Nombre:</strong> {{ colaborador.first_name }} {{ colaborador.last_name }}</p>
        <p><strong>Email:</strong> {{ colaborador.email }}</p>
        <p><strong>Teléfono:</strong> {{ colaborador.telefono }}</p>
    </div>
    {% endfor %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
       
        var cardContainer = document.querySelector(".card-container");
        var lastCard = cardContainer.lastElementChild;
    
       
        var registerButton = document.createElement("a");
        registerButton.setAttribute("href", "{% url 'registro' %}");
        registerButton.classList.add("register-button");
        registerButton.innerText = "+";
    
       
        var buttonTop = lastCard.offsetTop + lastCard.offsetHeight / 3 - registerButton.offsetHeight / 2;
        var buttonLeft = lastCard.offsetLeft + lastCard.offsetWidth + 100; 
    
       
        registerButton.style.position = "absolute";
        registerButton.style.top = buttonTop + "px";
        registerButton.style.left = buttonLeft + "px";
    
       
        cardContainer.appendChild(registerButton);
    });
    </script>
{% endblock %}