{% extends 'index.html' %}
{% load static %}
        {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css' %}/estilo.css">
        <link rel="stylesheet" href="{% static 'css' %}/home.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap" rel="stylesheet">

        {% endblock extra_css %}

{% block contenido %}
     <div class="registro">
        <div class="container">
            <a href="{% url 'colaboradores' %}">Registro de colaboradores</a>
            <i class="ri-profile-line"></i>
        </div>
    </div>
    <div class="gestion">
        <div class="container">
            <a href="{% url 'index_trabajo' %}">Gestión de Trabajos</a>
            <i class="ri-list-check-3"></i>
        </div>
    </div>
    <div class="reportes">
        <div class="container">
            <a href="{% url 'index_reporte' %}">Reportes</a>
            <i class="ri-file-text-fill"></i>
        </div>
    </div>


{% endblock %}


   
