{% load  static  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css' %}/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap" rel="stylesheet">
    {% block extra_css %} {% endblock extra_css %}   
</head>

<body>
    <navbar class="navbar-container">
        <div class="logo-container" >
            <a href=""><img src="" alt="" style="margin-top: 1px; margin-right: 10px;"></a>
            <a href="{% url 'home' %}">JobSync</a>
        </div>
        <div class="bars">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
      </div>
        <ul class="nav-items">
            <li class="nav-link"><a href="{% url 'home' %}">Inicio</a></li>
           
            <li class="nav-link"><a href="{% url 'sobre_nosotros' %}">Sobre Nosotros</a></li>
            {%if user.is_authenticated%}
            <li class="nav-link"><a href="{% url 'custom_logout' %}">Cerrar Sesion</a></li>
            {% else %}
            <li class="nav-link"><a href="{% url 'custom_login' %}">login</a></li>
            {%endif%}
        </ul>
    </navbar>

    {% block contenido %} 

    

    {% endblock %}  

</body>

</html>