{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admin/modificar_usuario.css' %}">
    <link rel="stylesheet" href="{% static 'css' %}/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body>
    <navbar class="navbar-container">
        <div class="logo-container" >
            <a href=""><img src="" alt="" style="margin-top: 1px; margin-right: 10px;"></a>
            <a href="">JobSync</a>
        </div>
        <div class="bars">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
      </div>
        <ul class="nav-items">
            <li class="nav-link"><a href="{% url 'home' %}">Inicio</a></li>
            
            <li class="nav-link"><a href="{% url 'sobre_nosotros' %}">Sobre Nosotros</a></li>
            {%if user.is_authenticated%}
            <li class="nav-link"><a href="{% url 'custom_logout' %}">Cerrar Sesion</a></li>
            {% else %}
            <li class="nav-link"><a href="{% url 'custom_login' %}">login</a></li>
            {%endif%}
        </ul>
    </navbar>
    
    <div class="wrapper">
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Registro</h1>
            <div class="input-box">
                <div class="input-field">
                    {{ form.nombre }}
                   
                </div>
                <div class="input-field">
                    {{ form.apellido }}
                    
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    {{ form.email }}
                    
                </div>
                <div class="input-field">
                    {{ form.telefono }}
                    
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    {{ form.contraseña }}
                    
                </div>
                <div class="input-field">
                    {{ form.repetir_contraseña }}
                    
                </div>
            </div>
            
            <button type="submit" class="btn">Registrar</button>
        </form>
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
    </div>
    
</body>

