<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title> Sobre nosotros </title>
  <link rel="stylesheet" href="../static/css/alt.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>

<!-- NavBar -->

  <navbar class="navbar-container">
    <div class="logo-container" >
        <a href=""><img src="" alt="" style="margin-top: 1px; margin-right: 10px;"></a>
        <a href="">JobSync</a>
    </div>
    <div class="bars">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
  </div>
    <ul class="nav-items">
        <li class="nav-link"><a href="{% url 'login' %}">Inicio</a></li>
    </ul>
</navbar>

<!-- Sobre nosotros -->
  <section class="about-us">
    <div class="about">
      <div class="text">
        <h1>SOBRE NOSOTROS</h1>
        
        <br>
        <br>
        <br>
        <br>

        <h5>Vision</h5>
          <p>La visión del proyecto JobSync es revolucionar la forma en que las empresas gestionan sus trabajos y cómo los trabajadores acceden a ellos. El proyecto está enfocado en  una plataforma web que permita una gestión fluida de trabajos, proporcionando a los trabajadores la capacidad de  organizar ,elegir y aceptar según su disponibilidad , los trabajos disponibles por las empresas asociadas . Nuestra visión es que JobSync se convierta en la herramienta de referencia para empresas que trabajan con honorarios, aumentando la productividad, la satisfacción de los trabajadores y mejorando la eficiencia operativa en todas las etapas de asignación de trabajos. </p>
        
          <br>

        <h5>Descripcion</h5>
        <p>Nuestra iniciativa, denominada 'JobSync', tiene como propósito principal desarrollar una plataforma de gestión de trabajos y trabajadores dirigida a empresas subcontratistas del sector de las telecomunicaciones. A través de este proyecto, estaremos aplicando directamente las competencias del perfil de egreso del Analista Programador Computacional, enfocándonos principalmente en el desarrollo de software de calidad, la aplicación de procesos de ingeniería de requisitos y la generación de soluciones innovadoras que aborden las necesidades específicas del contexto empresarial. Este proyecto se relaciona estrechamente con áreas de desempeño definidas en nuestra carrera, como el desarrollo de software, la gestión de proyectos y la ingeniería de requisitos, proporcionando una oportunidad valiosa para poner en práctica y fortalecer nuestras habilidades en estos ámbitos.</p>
      </div>
    </div>
  </section>
</body>
</html>