@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    color: #fff;
    align-items: center;
    justify-content: center;
    background: url("/static/css/img/fondo.png") no-repeat center center fixed;  
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: rgba(255, 255, 255, 0.8);
    position: static;
    top: 80px; /* Ajusta el margen superior según sea necesario */
}


.card {
    margin-bottom: 20px;
    padding: 2%;
}

#calendar {
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(12, 11, 11, 0.952);
}

:root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #141414;
    --fc-neutral-bg-color: hsla(0, 0%, 82%, .3);
    --fc-neutral-text-color: grey;
    --fc-border-color: #0b9b9b;
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #107577;
    --fc-button-border-color: #245253;
    --fc-button-hover-bg-color: #03565c;
    --fc-button-hover-border-color: #1ee4a5;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: #152627;
    --fc-event-bg-color: #52b5b9;
    --fc-event-border-color: #16d798;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, .25);
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: hsla(0, 0%, 84%, .3);
    --fc-bg-event-color: #8fdf82;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, .3);
    --fc-today-bg-color: rgba(255, 220, 40, .15);
    --fc-now-indicator-color: red;
}

.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 10px;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: left;
}

.button-container {
    text-align: left;
    margin: 100px 0; /* Ajustar según sea necesario */
    padding-left: 20px; /* Ajustar según sea necesario para el margen desde la izquierda */
}
.btn:hover {
    background-color: #0056b3;
}

.btn-back {
    background-color: #248f8f;
}

.btn-back:hover {
    background-color: #1a6f6f;
}
