@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body {
    height: auto;
    min-height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/static/css/img/fondo.png") no-repeat center center fixed;
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 70px;
    z-index: 1000;
    background-color: #0d0e0e;
}

#titulo-trabajos {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    color: #f3f3f3;
}

.boton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.boton.volver {
    background-color: #248f8f;
}

.boton.regresar {
    background-color: #279da1;
}

.boton:hover {
    background-color: #00b31e;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 220px;
    width: 100%;
    padding-top: 60px;
    padding-left: 5%;
}

.card {
    
    width: 350px;
    margin: 10px;
    padding: 20px;
    background: rgba(22, 22, 22, 0.61);
    
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    backdrop-filter: blur(50px);
    border-radius: 15px;
    
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
}

.card .delete-btn, .card .edit-btn {
    background: transparent;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
    position: absolute;
    top: 10px;
}

.card[data-estado="sin_asignar"] .delete-btn i,
.card[data-estado="sin_asignar"] .edit-btn i{
    color: rgb(8, 8, 8);
}
.card .delete-btn {
    right: 10px;
}

.card .edit-btn {
    right: 50px;
}

.card .delete-btn i, .card .edit-btn i {
    color: white;
    font-size: 1.2em;
}

.card .edit-btn:hover {
    background: rgba(3, 184, 160, 0.247);
}

.card .delete-btn:hover {
    background: rgba(219, 14, 14, 0.315);
}

.botones {
    padding: 1px;
    margin-bottom: 10px;
}

.botones h1 {
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        top: 0;
        padding-top: 20%;
    }

    .card {
        width: 100%;
        max-width: 400px;
    }

    .boton {
        font-size: 10px;
        padding: 5px 15px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .filter-container {
        width: calc(100% - 40px);
        margin: 20px auto; 
        position: static; 
    }

}

.filter-container {
    
   
    background: rgba(22, 22, 22, 0.61);
    padding: 10px;
    border-radius: 5px;
    width: 220px; 
    margin-right: 20px;
    top: 20px;
    margin-bottom: 19%;
}

.filter-container h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}



#comuna-filter {
    width: 200px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgba(3, 207, 163, 0.76);
    border-radius: 5px;
    color: #fff;
    background: rgba(22, 22, 22, 0.315);
    margin-top: 20px;
}
#estado-filter {
    width: 200px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgba(3, 207, 163, 0.76);
    border-radius: 5px;
    color: #fff;
    background: rgba(22, 22, 22, 0.315);
    margin-top: 20px;
}
#fecha-filter{
    width: 200px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgba(3, 207, 163, 0.76);
    border-radius: 5px;
    color: #fff;
    background: rgba(22, 22, 22, 0.315);
    margin-top: 20px; 
}


[data-estado="sin_asignar"] {
    background-color: rgb(255, 255, 255);
    color: rgb(12, 11, 11);
    border: 2px solid rgb(255, 255, 255);
}

[data-estado="pendiente"] {
    background-color: rgba(99, 32, 255, 0.137);
    color: white;
    border: 2px solid rgba(117, 17, 233, 0.801);
}

[data-estado="completado"] {
    background-color: rgba(30, 206, 133, 0.733);
    color: white;
    border: 2px solid rgba(12, 243, 193, 0.884);
}


[data-estado="reagendado"][data-reagendado-contador="1"] {
    background-color: rgba(255, 197, 7, 0.274);
    color: rgb(240, 236, 236);
    border: 2px solid rgba(243, 228, 14, 0.87);
}

[data-estado="reagendado"][data-reagendado-contador="2"] {
    background-color: rgba(231, 28, 21, 0.199);
    color: white;
    border: 2px solid rgba(212, 17, 17, 0.877);
}

[data-estado="sin_asignar"][data-reagendado-contador="1"] {
    background-color: rgba(248, 248, 248, 0.993);
    color: rgb(12, 11, 11);
    border: 3px solid rgba(243, 228, 14, 0.87);

}

[data-estado="sin_asignar"][data-reagendado-contador="2"] {
    background-color: rgba(255, 255, 255, 0.952);
    color: rgb(12, 11, 11);
    border: 3px solid rgba(212, 17, 17, 0.877);

}

#boton-info{
   
    width: 50px;
    font-size: 20px;
    border: 1px solid rgba(3, 207, 163, 0.76);
    border-radius: 5px;
    color: #b0e3f5;
    background: rgba(22, 22, 22, 0.315);
    margin-left: 30px;
}
    /* Estilo para el mensaje desplegable */
    .modal {
        display: none; /* Oculto por defecto */
        position: fixed; /* Posición fija para quedarse en su lugar */
        z-index: 1; /* Por encima de todo el contenido */
        left: 0;
        top: 0;
        width: 100%; /* Ancho completo */
        height: 100%; /* Altura completa */
        overflow: auto; /* Habilitar el desplazamiento si es necesario */
        background-color: rgb(0,0,0); /* Color de fondo con opacidad */
        background-color: rgba(0,0,0,0.4); /* Color de fondo con opacidad */
    }

    /* Contenido del modal */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% de margen superior y centrado horizontal */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Ancho del 80% */
        border-radius: 20px;
    }

    /* Estilo del botón de cierre */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    /* css para el contenido del modal  */
    ul {
        list-style-type: none; /* Quitar las viñetas de la lista */
        padding: 0;
    }

    li {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    .color-box {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 1px solid #000;
        border-radius: 30px;
    }