@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body {
    height: auto;
    min-height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/static/css/img/fondo.png") no-repeat center center fixed;
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 70px;
    z-index: 1000;
    background-color: #0d0e0e;
}

#titulo-trabajos {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    color: #f3f3f3;
}

.boton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.boton.volver {
    background-color: #248f8f;
}

.boton.regresar {
    background-color: #279da1;
}

.boton:hover {
    background-color: #00b31e;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 220px;
    width: 100%;
    padding-top: 60px;
    padding-left: 5%;
}

.card {
    
    width: 350px;
    margin: 10px;
    padding: 20px;
    background: rgba(22, 22, 22, 0.61);
    
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    backdrop-filter: blur(50px);
    border-radius: 15px;
    
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
}

.card .delete-btn, .card .edit-btn {
    background: transparent;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
    position: absolute;
    top: 10px;
}

.card .delete-btn {
    right: 10px;
}

.card .edit-btn {
    right: 50px;
}

.card .delete-btn i, .card .edit-btn i {
    color: white;
    font-size: 1.2em;
}

.card .edit-btn:hover {
    background: rgba(3, 184, 160, 0.247);
}

.card .delete-btn:hover {
    background: rgba(219, 14, 14, 0.315);
}

.botones {
    padding: 1px;
    margin-bottom: 10px;
}

.botones h1 {
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        top: 0;
        padding-top: 20%;
    }

    .card {
        width: 100%;
        max-width: 400px;
    }

    .boton {
        font-size: 10px;
        padding: 5px 15px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .filter-container {
        width: 100%;
        text-align: center;
        padding: 20px;
        position: static;
        margin-top: 100px;
    }

    #comuna-filter {
        width: 150px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid rgba(3, 207, 163, 0.76);
        border-radius: 5px;
        color: #fff;
        background: rgba(22, 22, 22, 0.61);
    }
}

.filter-container {
    position: fixed;
    top: 22%;
    right: 4%;
    z-index: 1001;
    background: rgba(22, 22, 22, 0.61);
    padding: 10px;
    border-radius: 5px;
}

#comuna-filter {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(3, 207, 163, 0.76);
    border-radius: 5px;
    color: #fff;
    background: rgba(22, 22, 22, 0.315);
}
#estado-filter {
    width: 150px;
    padding: 10px;
   
    font-size: 16px;
    border: 1px solid rgba(3, 207, 163, 0.76);
    border-radius: 5px;
    color: #fff;
    background: rgba(22, 22, 22, 0.315);
}
#fecha-filter{
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(3, 207, 163, 0.76);
    border-radius: 5px;
    color: #fff;
    background: rgba(22, 22, 22, 0.315); /* Mismo color que el filtro de estado */
}
.card.blanco {
    background-color: rgba(236, 236, 236, 0.767);
    color: black;
    border: 2px solid rgb(255, 255, 255);
}

.card.azul {
    background-color: rgba(56, 9, 163, 0.212);
    color: white;
    border: 2px solid rgba(145, 28, 255, 0.76);
}

.card.verde {
    background-color: rgba(4, 255, 150, 0.164);
    color: white;
    border: 2px solid rgba(3, 207, 163, 0.863);
}

.card.amarillo {
    background-color: rgba(221, 177, 31, 0.274);
    color: rgb(252, 252, 252);
    border: 2px solid rgba(240, 218, 18, 0.76);
}

.card.rojo {
    background-color: rgba(206, 19, 13, 0.103);
    color: white;
    border: 2px solid rgba(230, 40, 15, 0.76);
}

.card.negro {
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    border: 2px solid rgb(4, 5, 5);
}

