@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/static/css/img/fondo.png") no-repeat center center fixed;  
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 80px; /* Ajusta el margen superior según sea necesario */
}

#titulo-trabajos {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    color: #f3f3f3;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-back {
    background-color: #248f8f;
}

.btn-danger {
    background-color: #dc3545; /* Rojo para el botón de eliminar */
    color: white;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    border-radius: 10px;
    overflow: hidden; /* Para que el borde redondeado se aplique a todo */
}

.table thead {
    background-color: #009879;
}

.table thead th {
    background-color: #009879; /* Asegura que todas las celdas de thead tengan el mismo color */
    color: #ffffff; /* Asegura que el texto del encabezado sea blanco */
}

.table th,
.table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.table tbody tr:nth-of-type(even):hover {
    background-color: #e0e0e0;
}

.table tbody tr:nth-of-type(odd):hover {
    background-color: #e9e9e9;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.container {
    margin-top: 150px;
    width: 90%;
    max-width: 1200px;
}

