@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background: url("/static/css/img/fondo.png") no-repeat center center fixed;  
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 80px;
    justify-content: space-between;
}

.header h1 {
    padding-right: 37%;
    color: #f0f0f0;
}

.btn {
    padding: 10px 20px;
    background-color: #248f8f; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    width: 160px; 
    text-align: center; 
    margin: 10px; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: #00b31e; 
}

.btn-back {
    background-color: #248f8f;
}

.container {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%; 
}

.container .trabajos-list {
    width: 100%;
    border: 1px solid;
    padding: 10px;
    height: 500px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.1);  
    border-radius: 15px;
    border: 2px solid rgba(3, 207, 163, 0.76);
}

.container .trabajos-list h2 {
    text-align: center;
    margin-bottom: 5%;
}

.container .trabajos-list ul {
    list-style-type: none;
    padding: 10px;
}

.container .trabajos-list ul li {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer; 
    transition: background-color 0.3s;
    border-radius: 15px;

}

.trabajo-buttons {
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    gap: 10px; 
}

.trabajo-header {
    position: relative;
}


.container .trabajos-list ul li .info {
    flex-grow: 1;
}

.container .trabajos-list ul li .btn-confirmar {
    margin-left: 10px;
}

.container .trabajos-list ul li.selected {
    background-color: rgba(38, 221, 21, 0.685); 
}

.btn-confirmar {
    padding: 15px 10px;
    background-color: #2bddbfc0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-confirmar:hover {
    background-color: #0fac55e0;
}

.btn-reagendar {
    padding: 15px 10px;
    background-color: #f3e40bbb;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-reagendar:hover {
    background-color: #a6a81cef;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons button {
    width: 160px; 
    padding: 15px 30px;
    text-align: center; 
    margin: 10px;
    background-color: #248f8f; 
    color: white;
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #00b31e; 
}

.buttons button.transfer {
    background-color: #248f8f; 
}

.buttons button.save {
    background-color: #248f8f;  
}

/* css del modal */
body.modal-open {
    pointer-events: none;
    user-select: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(235, 240, 238, 0.534);
    padding-top: 15%;
    pointer-events: all;
}

.modal-content {
    background-color: #0f0f0faf;
    margin: 5% auto;
    padding: 20px;
    border: 3px solid #0adaa6;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
    color: #cccccc;
    pointer-events: auto;
}

.close {
    color: #a1d6c0;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Colores según estado */
[data-estado="sin_asignar"] {
    background-color: rgba(226, 221, 221, 0.836);
    color: rgb(12, 11, 11);
    border: 2px solid rgb(255, 255, 255);
}

[data-estado="pendiente"] {
    background-color: rgba(99, 32, 255, 0.137);
    color: white;
    border: 2px solid rgba(117, 17, 233, 0.801);
}

[data-estado="completado"] {
    background-color: rgba(30, 206, 133, 0.733);
    color: white;
    border: 2px solid rgba(12, 243, 193, 0.884);
}


[data-estado="reagendado"][data-reagendado-contador="1"] {
    background-color: rgba(255, 197, 7, 0.274);
    color: black;
    border: 2px solid rgba(243, 228, 14, 0.87);
}

[data-estado="reagendado"][data-reagendado-contador="2"] {
    background-color: rgba(231, 28, 21, 0.199);
    color: white;
    border: 2px solid rgba(212, 17, 17, 0.877);
}

.boton-volver{
    position: fixed;
    top: 90px;
    left: 20px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.texto-top {
    position: absolute; /* Posicionamiento absoluto para mover libremente */
    top: 80px; /* Alinea el elemento en la parte superior del contenedor */
    right: 0; /* Alinea el elemento en la parte derecha del contenedor */
    margin-top: 20px; /* Margen superior para separar del borde superior */
    margin-right: 20px; /* Margen derecho para separar del borde derecho */
    margin-bottom: 30px;
}

.boton-vista {
    position: fixed;
    text-align: center;
    top: 140px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
@media only screen and (max-width: 480px){

    .texto-top {
    
        position: absolute; /* Posicionamiento absoluto para mover libremente */
        top: 80px; /* Alinea el elemento en la parte superior del contenedor */
        right: 0; /* Alinea el elemento en la parte derecha del contenedor */
        margin-top: 20px; /* Margen superior para separar del borde superior */
        margin-right: 20px; /* Margen derecho para separar del borde derecho */
        font-size: 12px;
    }
    .boton-volver{
        position: fixed;
        top: 90px;
        left: 20px;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .container .trabajos-list
    {
        margin-top: 120px;
    }
    .container .trabajos-list li {
        font-size: 10px;
    }

    .container .trabajos-list p {
        padding-right: 150px;
    }

    .container .trabajos-list h2 {
        margin-top: 10px;
    }

/* Estilos para los botones dentro de trabajo-buttons */
.trabajo-buttons {
    position: relative; /* Establecer posición relativa para alinear los botones */
    text-align: right; /* Alinear contenido a la derecha */
    margin-top: -10px; /* Ajuste para mover un poco hacia arriba */
}

/* Estilo base para ambos botones */
.btn-confirmar {
    padding: 10px;
    background-color: #2bddbfc0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    text-align: center;
    font-size: 11px;
    transition: background-color 0.3s;
    position: absolute; /* Ajustar posición absoluta para superponer */
    right: 0; /* Alinear a la derecha dentro del contenedor */
    top: 35px; /* Ajuste para mover un poco hacia arriba */
}

.btn-reagendar
{
    padding: 10px;
    background-color: #2bddbfc0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    text-align: center;
    font-size: 11px;
    transition: background-color 0.3s;
    position: absolute; /* Ajustar posición absoluta para superponer */
    right: 0; /* Alinear a la derecha dentro del contenedor */
    top: -10px; /* Ajuste para mover un poco hacia arriba */
}
/* Estilo específico para el botón Reagendar */
.btn-reagendar {
    background-color: #f3e40bbb;
    z-index: 2; /* Colocar este botón encima del otro */
}

/* Efecto hover para ambos botones */
.btn-confirmar:hover,
.btn-reagendar:hover {
    background-color: #0fac55e0;
}
}


@media only screen and (min-width: 800px) and (max-width:880px){

    .container .trabajos-list p {
        padding-right: 250px;
    }

    .container .trabajos-list h2 {
        margin-top: 10px;
    }

}