{% extends 'index.html' %}
{% load  static  %}


{% block extra_css %} 
<link rel="stylesheet" href="{% static 'css' %}/login.css">
{% endblock extra_css %}    
{% block contenido %} 

<!--  LOGIN  -->
<div class="content">
    <form action="" method="POST">
        {% csrf_token %}
        
        <h2>JobSync</h2>
        <div class="input-box">
            <input type="text" name="username" placeholder="Correo" required>
            <i class="ri-mail-fill"></i>
        </div>

        <div class="input-box">
            <input type="password" name="password" placeholder="Contraseña" required autocomplete="current-password">

            <i class="ri-lock-fill"></i>
        </div>

        <div class="remember">
            <label>
                <input type="checkbox" name="remember">Recuérdame
            </label>
            <a href="#">Recuperar contraseña</a>
        </div>

        <button type="submit" class="btn">Iniciar Sesión</button>
    </form>
</div>
{% endblock %}